* { 
    box-sizing: border-box;
}

html, body { 
    height: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
}

input,
textarea,
select,
button {
  appearance: none;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.outermost-grid { 
    height: 100%;
    display: grid;
    grid-template-columns: 1.25fr 5fr;
    grid-template-rows: 1.5fr 5fr;
}

.header { 
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 0.65fr 0.35fr; 
    grid-column: 2 / -1; 
    border: 1px solid red; 
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 2.6px;
}


.header-search-bar { 
    border: 1px solid red;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 3em;
    padding-bottom: 1.5em;
}

.search-bar  {
    background-color: #e2e8f0; 
    border-radius: 10px; 
    margin-left: 1em;
    border: none;
    width: 85%; 
    box-shadow: none;
    padding: 4px;
    
}
.header-user-info{ 
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 1.25em;
    border: 1px solid blue; 
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 1.5em;
}

.profile-picture { 
    width: 32px; 
    height: 32px; 
}

.header-greeting > img { 
    width: 55px; 
    height: 55px; 
    align-self: center;
    justify-self: center; 
    margin-left: 3em;
    grid-row: 1 / -1
}
.header-greeting { 
    display: grid; 
    column-gap: 1em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 9fr;
    border: 1px solid orange; 

}
.header-greeting > p { 
    padding: 0; 
    margin: 0;
}

.header-buttons  {
    border: 1px solid green; 
}
.main { 
    grid-column: 2 / -1; 
    grid-row: 2;
    border: 1px solid blue;
    background-color: #e2e8f0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon { 
    width: 20px; 
    height: 20px; 
}

.svg { 
    filter: invert(100%) sepia(0%) saturate(7435%) hue-rotate(66deg) brightness(109%) contrast(100%);
}
.card { 
    background-color: #f0b429; 
}
.sidebar { 
    grid-row: 1 / -1;
    display: grid; 
    background-color: #1992d4;
    align-items: center;
    border: 1px solid red; 
    grid-template-rows: 0.2fr minmax(75px, 0.55fr) minmax(50px, 0.25fr);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar-partition > p { 
    font-size: 25px;
}
/* .sidebar-pair { 
    grid-column: 1 / -1; 
    grid-template-columns: 1fr 2fr 3fr;
    align-items: center; 
    width: 100%;
    height: 2rem;
    justify-self: start;
    border: 1px solid green; 
    display: grid; 
   
} */

.sidebar-partition { 
    grid-template-rows: repeat(auto-fill, minmax(45px, 1fr));
    grid-template-columns: 1fr 3fr;
    align-items: center;
    border: 1px solid black;
    display: grid; 
    height: 100%;
}
.middle-sidebar { 
    grid-row: 2 / 3;
 
}
.lower-sidebar { 
    
    display:grid; 
    grid-row: 3 / 4;
    align-items: center;
    border: 1px solid black; 
    grid-template-columns: 1fr 3fr;
}
.sidebar-img { 
    grid-column: 1 / 2;  
    margin-right: 0.5em;
    justify-self: end;
    filter: invert(100%) sepia(0%) saturate(7435%) hue-rotate(66deg) brightness(109%) contrast(100%);
    width: 20px;
    height: 20px;
    text-align: center;
}
.sidebar-txt { 
    font-size: 1.25em;
    margin-left: 0.6em;
    font-weight: bold;
    grid-column: 2 / 3;
    color: white;
}
